/* $brand-primary:         darken(#404f5c, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-dark:          #4527a0; */

// Our Custom sass code
$theme-colors: (
  "primary": #f2664c,
  "secondary": #f2664c,
  "danger": coral,
  "light": #f9f8f4,

  "dark": #000070,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
