
#nameContainer, #stateContainer, #phoneContainer {
  margin-bottom: 5px;
}

Button#submit {
  margin-right: 5px;
}

#result {
  color: red;
}
.alert-custom-medium{
  margin-top: 18px;
  background-color:coral;
  color: brown;
}