
#nameContainer, #stateContainer, #phoneContainer {
  margin-bottom: 5px;
}

Button#submit {
  margin-right: 5px;
}

#result {
  color: red;
}
.alert-custom-medium{
  margin-top: 18px;
  background-color:#E2A234;
  color: brown;
}
.alert-custom-high{
  margin-top:18px;
  background-color: #DA502E;
  color: #5F1502;
}
.alert-custom-neutral{
  margin-top:18px;
  background-color: #C9C4BC;
  color: #2C2B2A;
}
.alert-custom-low{
  margin-top:18px;
  background-color: #E8E874;
  color: #89891F;
}

.Collapsible {
  margin-bottom: 10px;
  border: solid 1px rgba(128, 128, 128, 0.5);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Collapsible__contentInner {
  padding: 10px;
}